/Tema 5/Ejemplos/Ejemplo1/nbproject/private/
/Tema 5/Ejemplos/Ejemplo1/build/
/Tema 5/Ejercicios/Ejercicios/nbproject/private/
/Tema 5/Ejercicios/Ejercicios/build/
/Palindromo/nbproject/private/
/Palindromo/build/
/NewFolder/Matrices/nbproject/private/
/NewFolder/Matrices/build/
